<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Rocky System
            {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{asset('assets/CSS/General/All.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

        <scripc src="{{asset('assets/Angular/angular.min.js')}}">
        <scripc src="{{asset('assets/Angular/angular-cookies.min.js')}}">

    </head>
    <body>
        <!--Incluyo el menu superior-->

        <!--Encierro el Body dentro de un contenedor de bootstrap-->
        <div class="container">
        {% block body %}
        {% endblock %}  
        </div>

    <!--Importo codigos de bootstrap-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


        {% block javascripts %}

        {% endblock %}
    </body>
</html>