{% extends 'base.html.twig' %}

	{% block body %}
	 <style type="text/css">
	 .pls
	 {
		background-color: white; 
		padding: 5%;
		height: 2000px;
	 }
	   .carousel-inner img {
      width: 50%;
      height: 50%;
  }
  .imagen
  {
  	margin: 2.5%;
  	border-radius: 5%;
  	-webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
  }
  .formi
  {
  	width: 100px;
	margin-top: 20%;
  }
  #f
  {
  	margin-top: 3%;
  }
  .productos
  {
  	display: inline;
  	float: left;

  margin: 1em;
  }
	 	</style>
	  	<div class="pls">

<center><h1><b>Venta</b></h1></center>
<h3>Escriba las cantidades de cada producto</h3>
<center>
	<div class="productos">
	 <img class="imagen" src="{{asset('assets/IMG/Productos/Grava.jpg')}}" alt="Los Angeles" width="180" height="180">
	 <input type="email" class="form-control formi" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cantidad">
	</div>
	<div class="productos">
  <img class="imagen" src="{{asset('assets/IMG/Productos/Tierra.jpg')}}" alt="Los Angeles" width="180" height="180">
  <input type="email" class="form-control formi" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cantidad">
	</div>
<div class="productos">
   <img class="imagen" src="{{asset('assets/IMG/Productos/Gravilla.jpg')}}" alt="Los Angeles" width="180" height="180">
   <input type="email" class="form-control formi" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cantidad" >
	</div>
	<div class="productos">
   <img class="imagen" src="{{asset('assets/IMG/Productos/Camion.jpg')}}" alt="Los Angeles" width="280" height="200">
   <input type="email" id= "f"class="form-control formi" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="6m3" >
	</div>
	<label for="exampleFormControlSelect1">Seleccione un cliente</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Santiago Martinez</option>
      <option>Carlos Prados</option>
      <option>Carlos Slim</option>
    </select>
</center>
</div>
	{% endblock %}
