{% extends 'base.html.twig' %}

	{% block body %}
		<link rel="stylesheet" type="text/css" href="{{asset('assets/CSS/Login.css')}}">
	 
	<div class="wrapper fadeIn">
	  <div id="formContent">
	    <!-- Tabs Titles -->

	    <!-- Icon -->
	    <div class="fadeIn">
	      <img src="{{asset('assets/IMG/UserLoginImage.png')}}" id="icon" alt="User Icon" />
	    </div>

	    <!-- Login Form -->
	    <form>
	      <input type="text" id="login" class="fadeIn" name="login" placeholder="Nombre de usuario">
	      <input type="text" id="password" class="fadeIn" name="login" placeholder="Contraseña">
	      <input type="submit" class="fadeIn" value="Iniciar">
	    </form>

	    <!-- Remind Passowrd -->
	    <div id="formFooter">
	      <a class="underlineHover" href="#">Quiero notificar que he olvidado mi contraseña</a>
	    </div>

	  </div>
	{% endblock %}
